<div class="home">
    <div class="home__titulo">
        <h2>Bem Vindo ao Siege</h2>
        <p>Aqui você irá conhecer nossos Oeradores e Mapas</p>
    </div>
    
    <div class="sobre">
        <div class="sobre__texto">
            <h3>Conheça um pouco do jogo</h3>
            <p>Tom Clancy's Rainbow Six Siege é um jogo do género first person shooter (FPS) produzido pela Ubisoft Montreal. Foi anunciado pela Ubisoft em 9 de Junho de 2014 na Electronic Entertainment Expo 2014 onde foi muito aplaudido pela crítica. Foi lançado para Xbox One, PlayStation 4 e PC</p>
            <p>Tom Clancy's Rainbow Six Siege é um jogo de tiro na primeira pessoa táctico, em que os jogadores assumem o papel de um dos membros da equipe Rainbow, uma unidade contra-terrorista. Os membros têm diferentes nacionalidades, habilidades e equipamentos.Os jogadores podem planear o ataque na "Fase de preparação" que é um tempo para ambos os lados se prepararem para a rodada. Os atacantes podem por exemplo enviar drones para estudar o ambiente e localizar os inimigos e os alvos que procuram, enquanto que os defensores podem fortificar algumas áreas para prevenir ataques.</p>
        </div>

        <div class="sobre__imagem">
            <img src="../../../assets/images/bannerSobre.png" width="500px" alt="">
        </div>
    </div>

    <div class="plataformas">
        <h4>Plataformas disponíveis</h4>
        <div class="plataformas__imagens">
            <img src="../../../assets/images/playstationIcon.png" width="50px" alt="">
            <img src="../../../assets/images/xboxIcon.png" width="50px" alt="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-pc-display" viewBox="0 0 16 16">
                <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0M9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5M1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2z"/>
            </svg>

        </div>
    </div>
</div>
