<div class="menu">
    <h2>Faça parte do Siege</h2>
    <p>Cadastre-se em nosso site e tenha informações dos Operadores do Universo de Siege</p>
    <a>Faça já o seu cadastro</a>

    <div class="menu__maps">
        <h3>Principais Mapas</h3>
        <div class="maps__image">
            <img src="../../../assets/images/r6-maps-bank.webp" alt="mapa banco" width="250">
            <img src="../../../assets/images/r6-maps-kanal.webp" alt="" width="250">
            <img src="../../../assets/images/r6-maps-clubhouse.jpg" alt="" width="250">
            <img src="../../../assets/images/r6s_maps_emeraldplains__1_.webp" alt="" width="250">
            <img src="../../../assets/images/r6-maps-fronteira.jpg" alt="" width="250">
        </div>
    </div>
</div>