<div class="menu">
    <h2>Faça parte do Siege</h2>
    <p>Cadastre-se em nosso site e tenha informações dos Operadores do Universo de Siege</p>
    <a>Faça já o seu cadastro</a>

    <div class="menu__maps">
        <h3>Principais Mapas</h3>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/images/r6-maps-bank.webp" class="d-block w-100" alt="...">
              </div>

              <div class="carousel-item">
                <img src="../../../assets/images/r6-maps-fronteira.jpg" class="d-block w-100" alt="...">
              </div>

              <div class="carousel-item">
                <img src="../../../assets/images/r6s_maps_emeraldplains__1_.webp" class="d-block w-100" alt="...">
              </div>

              <div class="carousel-item">
                <img src="../../../assets/images/r6-maps-clubhouse.jpg" class="d-block w-100" alt="...">
              </div>
              
              <div class="carousel-item">
                <img src="../../../assets/mapas/litoral.webp" class="d-block w-100" alt="...">
              </div>
  
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    

</div>